<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="JsonProxy.RateLoaderService">
        <endpoint behaviorConfiguration="WebHttpBehavior" binding="webHttpBinding"
          bindingConfiguration="" name="RateLoaderEndpoint" contract="JsonProxy.IRateLoaderService" />
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="CustomBinding_MNBArfolyamServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://www.mnb.hu/arfolyamok.asmx" behaviorConfiguration=""
        binding="basicHttpBinding" bindingConfiguration="CustomBinding_MNBArfolyamServiceSoap"
        contract="MNBRateServiceReference.MNBArfolyamServiceSoap" name="CustomBinding_MNBArfolyamServiceSoap" />
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="WebHttpBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <remove scheme="http" />
      <add scheme="http" binding="webHttpBinding" />
      <add scheme="https" binding="basicHttpsBinding" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
